<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %> to node/express demo</title>
  </head>
  <body>
    <header>
    </header>
    <%- include(`../pages/${template}`) %>
    <script></script>
  </body>
</html>
